<div class="p-3 mb-2 bg-white text-dark border">
<h1 class="text-center">Task Management System</h1>
</div>
<div class="mt-4 pt-5">
  <h1 class="text-center">New Task</h1>
  <div class="form-group w-25 mx-auto my-4 border rounded p-4 bg-light">
    <%= render 'form', task: @task %>
  </div>
</div>
<nav class="navbar navbar-expand-lg fixed-bottom navbar-light" style="background-color: #fff;color:black">
  <a class="navbar-brand" href="#" style="margin:auto">Copyright © 2020 TMS. ALL RIGHTS RESERVED. </a>
  </nav>
